<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .enter_task{
                height:40px;
                width:250px;
                border-radius:5px;
                border:none;
                margin-right:10px;
            }
            .enter_task:focus{
                outline:none;
            }
            
        </style>
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center w-100 flex-column mb-3">
            <div><h2>Create new task</h2></div>
            <form method="POST" action="{% url 'createtask' user.pk %}">
                {% csrf_token %}
                <label for="new task">
                <input type="text" placeholder="Enter task" name="task_name" required class="enter_task shadow p-3 mb-3 bg-body rounded">
                <button type="submit" class="btn btn-dark rounded shadow">Create</button>
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>