<style>
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
      right:0;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    </style>

<nav class="navbar navbar-dark bg-dark mb-5 d-flex">
    <div class="container-fluid d-flex">
      <div class="navbar-brand">Hello {{ user.username }}   <a href="/signout" class="btn btn-danger rounded-pill">Log Out</a></div>
    

        <div class="dropdown">
            <button class="btn btn-info">More</button>
            <div class="dropdown-content">
                <a href="{% url 'home' user.pk %}" class="dropdown-item">Home</a>
                <a href="{% url 'completed_tasks' user.pk %}" class="dropdown-item">Completed Tasks</a>
                <a href="{% url 'pending_tasks' user.pk %}" class="dropdown-item">Pending Tasks</a>

            </div>
          </div>
      
    </div>
</nav>